node {
	
    fill-color: black;
    size: 10px;
    text-size: 20px;
}

node :clicked{
    fill-color: green;
    size: 15px;
}



node.marked {
    fill-color: red;
    size: 10px;
}

node.highlight {
    fill-color: green;
    size: 10px;
}


edge{
	fill-color: blue;
	size: 1px;
	text-size: 10px;
}

edge .marked{
	fill-color: red;
	size: 3px;
}

graph {
	fill-color: #FFFFCC;
}

